.noticias-destacadas {
    margin-bottom: 50px;
}

.noticias-destacadas img {
    width: 220px;
    height: 200px;
}
.newsletter {
    width: 100%;
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
}

.newsletter h2 {
    font-size: 24px
}



.contenedor {
    width: 960px;
    margin: 0 auto;
}

.menu {
    width: 960px;
    padding: 10px;
    border-bottom: 1px solid gray
}
